<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evs.testapplication.sastabotique_local">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginModule.SignInActivity"></activity>
        <activity android:name=".test.TestActivity"></activity>
        <activity android:name=".topics.ListCustomActivity"></activity>
        <activity android:name=".test.ServiceActivity"></activity>
        <service android:name=".services.MusicService"></service>
        <activity android:name=".test.ListActivityClass"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".test.MediaPlayerActivity"></activity>

        <activity android:name=".evsandroid34.activities.authentication.controllers.SigninActivity"></activity>

        <activity android:name=".evsandroid34.activities.authentication.controllers.SettingsActivity"></activity>

        <service android:name=".services.MediaPlayerService"></service>
        <service android:name=".services.MyService"></service>
        <service android:name=".evsandroid34.service.MusicService"></service>


        <activity android:name=".evsandroid36.activities.AthenticationActivity"
                  android:screenOrientation="portrait"
            ></activity>

    </application>

</manifest>