<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evs.testapplication.evsandroid34_lec1_sdkinstallation">

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.Camera"></uses-feature>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="com.evs.testapplication.evsandroid34_lec1_sdkinstallation.MAINACTIVITY"></action>
                <category android:name="android.intent.category.DEFAULT"></category>

            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".CameraActivity"></activity>
        <activity android:name=".HomeActivity"></activity>
    </application>

</manifest>